import(methods)
import(modeltools)
import(multcomp)

importFrom(stats, fitted, predict)
importFrom(stats4, AIC, BIC, logLik, plot, summary)

export(
       ExLinear,
       ExNPreg,
       ExNclus,
       FLXMCmvbinary,
       FLXMCmvnorm,
       FLXMCmvpois,
       FLXPmultinom,
       FLXPconstant,
       FLXfit,
       FLXMRglm,
       FLXMRglmfix,
       FLXMRrobglm,
       FLXMRziglm,
       flexmix,
       plotEll,
       relabel,
       stepFlexmix,
       FLXglm,
       FLXglmFix,
       FLXbclust,
       FLXmclust,
       FLXconstant,
       FLXmultinom
       )


exportClasses(
              FLXcomponent,
              FLXP,
              FLXPmultinom,
              FLXcontrol,
              FLXdist,
              FLXMRglmfix,
              FLXMRglm,
              FLXMRrobglm,
              FLXMRziglm,
              FLXM,
              FLXMR,
              FLXMC,
              FLXnested,             
              FLXR,
              FLXRoptim,
              FLXRmstep,
              flexmix,
              listOrdata.frame,
              stepFlexmix,
              summary.flexmix
              )


exportMethods(
              AIC,
              BIC,
              FLXcheckComponent,
              FLXdeterminePostunscaled,
              FLXfit,
              FLXgetK,
              FLXgetModelmatrix,
              FLXgetObs,
              FLXmstep,       
              FLXremoveComponent,
              KLdiv,
              ICL,
              coerce,
              Lapply,
              clusters,
              fitted,
              flexmix,
              getModel,
              initialize,
              logLik,
              parameters,
              plot,
              posterior,
              predict,
              prior,
              refit,
              relabel,
              show,
              summary,
              unique
              )
