importFrom(stats, fitted, predict)
importFrom(stats4, AIC, BIC, logLik, plot, summary)

export(
       ExNPreg,
       ExNclus,
       FLXbclust,
       FLXfit,
       FLXglm,
       FLXmclust,
       KLdiv,
       flexmix,
       plotEll,
       refit,
       stepFlexmix
       )


exportClasses(
              FLXcomponent,
              FLXcontrol,
              FLXdist,
              FLXglmmodel,
              FLXmodel,
              FLXrefit,
              FLXrefitglm, 
              flexmix,
              summary.flexmix
              )


exportMethods(
              AIC,
              BIC,
              FLXfit,
              KLdiv,
              coerce,
              cluster,
              fitted,
              flexmix,
              logLik,
              parameters,
              plot,
              posterior,
              predict,
              refit,
              show,
              summary
              )
